$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'bet';
@import 'prediction';
@import 'rank';

html,
body,
.app,
.full-container {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #474747;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.wrapper {
  padding-top: 70px;
}

.navbar-default {
  background-color: #fff;
}

.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 9999;
  width: 300px;
  margin-left: -150px;
}
