<div ng-include="'partials/navbar'"></div>

<div class="container wrapper">
  <ul class="list-unstyled bet-card">
    <li class="match-header" ng-repeat-start="match in matches | orderBy:'date'" ng-if="match.home != null && showHeader(match.date, $last)">
      <h4 ng-init="day = $parent.getMatchDay(currentGroup);" ng-bind="'Day ' + day" id="'day' + day"></h4>
    </li>
    <li class="match" ng-repeat-end ng-if="match.home != null && !showHeader(match.date, $last)">
      <div class="row date">
        <span ng-bind="match.date | momentFormat:'HH:mm - dddd MMMM D YYYY'"></span>
      </div>
      <div class="row detail" ng-init="winner = match.homeScore == match.awayScore ? 'draw' : match.homeScore > match.awayScore ? 'home' : 'away'">
        <div class="home col-md-5" ng-class="{ win: winner == 'home', lose: winner == 'away' }">
          <a class="flag" href="http://en.wikipedia.org/wiki/{{match.home.title}}_national_football_team">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.home.key}}.png" alt="{{match.home.code}}">
          </a>
          <div class="title" ng-bind="match.home.title"></div>
        </div>
        <div class="result col-md-2">
          <form class="prediction" ng-init="homeScore = match.bets[0].homeScore; awayScore = match.bets[0].awayScore;">
            <input type="number" min="0" class="form-control" ng-disabled="$parent.isStarted(match.date)" ng-model="homeScore" ng-enter="$parent.bet(match.matchnum, homeScore, awayScore)">
            <span>-</span>
            <input type="number" min="0" class="form-control" ng-disabled="$parent.isStarted(match.date)" ng-model="awayScore" ng-enter="$parent.bet(match.matchnum, homeScore, awayScore)">
          </form>
          <div class="actual" ng-if="match.homeScore != null">
            <span ng-bind="match.homeScore" ng-class="{ win: winner == 'home', lose: winner == 'away' }"></span>
            <span>-</span>
            <span ng-bind="match.awayScore" ng-class="{ win: winner == 'away', lose: winner == 'home' }"></span>
          </div>
        </div>
        <div class="away col-md-5" ng-class="{ win: winner == 'away', lose: winner == 'home' }">
          <div class="title" ng-bind="match.away.title"></div>
          <a class="flag" href="http://en.wikipedia.org/wiki/{{match.home.title}}_national_football_team">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.away.key}}.png" alt="{{match.away.code}}">
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
