<div ng-include="'partials/navbar'"></div>

<div class="container wrapper">
  <ul class="list-unstyled bet-card">
    <li class="match-header" ng-repeat-start="match in matches | orderBy:'date'" ng-if="showHeader(match.date, $last)">
      <h4 ng-init="day = $parent.getMatchDay(currentGroup);" ng-bind="'Day ' + day" id="'day' + day"></h4>
    </li>
    <li class="match" ng-repeat-end ng-if="$last ? true : !showHeader(match.date, $last)">
      <div class="row date">
        <span ng-bind="match.date | momentFormat:'HH:mm - dddd MMMM D YYYY'"></span>
      </div>
      <div class="row detail">
        <div ng-if="match.matchnum <= 48" class="home col-md-5">
          <div class="flag">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.home.key}}.png" alt="{{match.home.code}}">
          </div>
          <div class="title" ng-bind="match.home.title"></div>
        </div>
        <span ng-if="match.matchnum > 48" class="home col-md-5">
          <div class="flag">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.home.key}}.png" alt="{{match.home.code}}">
          </div>
          <input type="text" class="title" ng-model="match.home.title" ng-enter="$parent.game(match.matchnum, match.home.title, match.away.title)">
        </span>
        <div class="result col-md-2">
          <form class="prediction" ng-init="homeScore = match.homeScore; awayScore = match.awayScore;">
            <input type="number" min="0" class="form-control" ng-disabled="$parent.isStarted(match.date)" ng-model="homeScore" ng-enter="$parent.update(match.matchnum, homeScore, awayScore)">
            <span>-</span>
            <input type="number" min="0" class="form-control" ng-disabled="$parent.isStarted(match.date)" ng-model="awayScore" ng-enter="$parent.update(match.matchnum, homeScore, awayScore)">
          </form>
        </div>
        <div ng-if="match.matchnum <= 48" class="away col-md-5">
          <div class="title" ng-bind="match.away.title"></div>
          <div class="flag">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.away.key}}.png" alt="{{match.away.code}}">
          </div>
        </div>
        <span ng-if="match.matchnum > 48" class="away col-md-5">
          <input type="text" class="title" ng-model="match.away.title" ng-enter="$parent.game(match.matchnum, match.home.title, match.away.title)">
          <div class="flag">
            <img ng-src="http://img.fifa.com/images/flags/4/{{match.away.key}}.png" alt="{{match.away.code}}">
          </div>
        </span>
      </div>
    </li>
  </ul>
</div>
