<nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">World Cup</a>
    </div>
    <div class="hidden-xs">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}"><a href="/">Bet</a></li>
        <li ng-class="{active: isActive('/table')}"><a href="/table">Table</a></li>
        <li ng-class="{active: isActive('/rank')}"><a href="/rank">Rank</a></li>
        <li ng-class="{active: isActive('/match')}"><a href="/match">Match</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding: 9px 16px;">
            <span ng-bind="currentUser.name"></span>
            <img class="img-circle" alt="{{currentUser.name}}" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 32px; height: 32px; visibility: hidden;">
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings">Settings</a></li>
            <li><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
